nav(class="navbar")
    .container

        .navbar-menu
            .navbar-start
                a(class="navbar-item" href="/index")
                    i.fa.fa-align-justify(aria-hidden='true') 
            .navbar-end
                block navbar-right